In [129]:
import pandas as pd
import numpy as np

In [130]:
# PC
#data = pd.read_csv(r'C:\Users\Ezequiel\Desktop\machine-learning-2c-2025\data.csv', low_memory=False, sep='|')
# Notebook
data = pd.read_csv(r'C:\Users\forma\Desktop\machine-learning-2c-2025\data.csv', low_memory=False, sep='|')

In [131]:
data.columns

Index(['client_id', 'Target', 'Month', 'First_product_dt', 'Last_product_dt',
       'CreditCard_Premium', 'CreditCard_Active', 'CreditCard_CoBranding',
       'Loan_Active', 'Mortgage_Active', 'SavingAccount_Active_ARG_Salary',
       'SavingAccount_Active_ARG', 'SavingAccount_Active_DOLLAR',
       'DebitCard_Active', 'Investment_Active', 'Package_Active',
       'Insurance_Life', 'Insurance_Home', 'Insurance_Accidents',
       'Insurance_Mobile', 'Insurance_ATM', 'Insurance_Unemployment', 'Sex',
       'Client_Age_grp', 'SavingAccount_Balance_FirstDate',
       'SavingAccount_Balance_LastDate', 'SavingAccount_Balance_Average',
       'SavingAccount_Days_with_use', 'SavingAccount_Days_with_Credits',
       'SavingAccount_Days_with_Debits',
       'SavingAccount_Salary_Payment_Transactions',
       'SavingAccount_Transfer_In_Transactions',
       'SavingAccount_ATM_Extraction_Transactions',
       'SavingAccount_Service_Payment_Transactions',
       'SavingAccount_CreditCard_Payment_Transactions',
       'SavingAccount_Transfer_Out_Transactions',
       'SavingAccount_DebitCard_Spend_Transactions',
       'SavingAccount_Transactions_Transactions',
       'SavingAccount_Credits_Transactions',
       'SavingAccount_Debits_Transactions',
       'SavingAccount_Salary_Payment_Amount',
       'SavingAccount_Transfer_In_Amount',
       'SavingAccount_ATM_Extraction_Amount',
       'SavingAccount_Service_Payment_Amount',
       'SavingAccount_CreditCard_Payment_Amount',
       'SavingAccount_Transfer_Out_Amount',
       'SavingAccount_DebitCard_Spend_Amount', 'SavingAccount_Total_Amount',
       'SavingAccount_Credits_Amounts', 'SavingAccount_Debits_Amounts',
       'Operations_Bank', 'Operations_Terminal', 'Operations_HomeBanking',
       'Operations_Mobile', 'Operations_Ivr', 'Operations_Telemarketer',
       'Operations_ATM', 'CreditCard_Balance_ARG', 'CreditCard_Balance_DOLLAR',
       'CreditCard_Total_Limit', 'CreditCard_Total_Spending',
       'CreditCard_Spending_1_Installment', 'CreditCard_Spending_Installments',
       'CreditCard_Spending_CrossBoarder', 'CreditCard_Spending_Aut_Debits',
       'CreditCard_Revolving', 'CreditCard_Payment_Aut_Debit',
       'CreditCard_Payment_External', 'CreditCard_Payment_Cash',
       'CreditCard_Payment_Web', 'CreditCard_Payment_ATM',
       'CreditCard_Payment_TAS', 'Investment_Numbers', 'Mobile', 'Email',
       'Region', 'CreditCard_Product'],
      dtype='object')

In [132]:
print(data['client_id'].value_counts())

client_id
4221845                   9
7219504                   9
5882370                   9
1158013                   9
3914580                   9
                         ..
6623284                   1
672542                    1
264018                    1
4424661                   1
(238615 rows affected)    1
Name: count, Length: 26561, dtype: int64

In [133]:
# Busco los IDÂ´s de los clientes que tienen 9 meses de data

# Creo una tabla con ID_cliente, cantidad de apariciones
ids_clientes_9m = data['client_id'].value_counts()

# Me quedo solo con aquellos que aparecen 9 veces 
ids_clientes_9m = ids_clientes_9m[ids_clientes_9m == 9].index

# Me quedo con todos los datos de quienes aparecen 9 meses
data_clientes_9m = data[data['client_id'].isin(ids_clientes_9m)]

data_clientes_9m.shape

(238347, 77)

In [134]:
# [agosto, septiembre, octubre, noviembre, diciembre, enero] TW, [febrero] LW, [marzo, abril] PW

# me quedo con los clientes que en el ultimo mes de la TW tienen package_active = no & CreditCard_CoBranding = no, y ademas, aparecen en los 9 meses
filtered_bussiness_conditions = data_clientes_9m[(data_clientes_9m['Month'] == '2019-01-01') 
                    & (data_clientes_9m['Package_Active'] == 'No')
                    & (data_clientes_9m['CreditCard_CoBranding'] == 'No')]

# Obtengo sus id
ids_filtered_bussiness_conditions = filtered_bussiness_conditions['client_id'].values
ids_filtered_bussiness_conditions.shape

(23191,)

In [135]:
# Ahora unifico la tabla de clientes filtrados por paquete con los que aparecen 9 meses 
data_final = data[data['client_id'].isin(ids_filtered_bussiness_conditions)]

data_final.shape

(208719, 77)

In [136]:
# Ahora ya puedo separar las ventanas
training_window = data_final[data_final['Month'].isin(['2018-08-01',    
'2018-09-01',
'2018-10-01',
'2018-11-01',
'2018-12-01',
'2019-01-01'   
])]

training_window.shape

(139146, 77)

In [137]:
#data_lead_window = data_final[data_final['Month'].isin(['2018-08-01'])]
#data_training_window.shape

In [138]:
# Ahora tengo que empezar a limpiar los datos, empiezo por ver las columnas que contengan nulos
training_window.columns[training_window.isnull().any()].tolist()

['SavingAccount_Balance_Average', 'Region', 'CreditCard_Product']

In [139]:
# 3 columnas tienen nulos

# 1) SavingAccount_Balance_Average: Esta es una de las columnas que presenta nulos, es el promedio del monto que se tiene en la cuenta de ahorros
print(training_window['SavingAccount_Balance_Average'])

0          406.35
1           73.56
2            0.00
3         2366.02
4            0.40
           ...
238597       0.00
238603       0.00
238604     367.43
238608       0.00
238612        NaN
Name: SavingAccount_Balance_Average, Length: 139146, dtype: float64

In [140]:
# Reemplazo los valores nulos con Balance_FirstDate - Debits + Credits
training_window.loc[:, 'SavingAccount_Balance_Average'] = (
    training_window['SavingAccount_Balance_Average'].fillna(
        training_window['SavingAccount_Balance_FirstDate']
        - training_window['SavingAccount_Debits_Amounts']
        + training_window['SavingAccount_Credits_Amounts']
    )
)

In [141]:
# 2) Region: Es la segunda columna con nulos 
print(training_window['Region'])

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
238597    NaN
238603    NaN
238604    NaN
238608    NaN
238612    NaN
Name: Region, Length: 139146, dtype: object

In [142]:
# Parecen todos nulos, me fijo si tiene valores diferentes
training_window['Region'].value_counts()

Series([], Name: count, dtype: int64)

In [143]:
data['Region'].value_counts()

Region
BUENOS AIRES                     14293
REGION CENTRO                    11735
REGION NORTE GRANDE ARGENTINO    10142
REGION PATAGONICA                 4968
CABA Centro/Norte                 4228
REGION CUYO                       3982
AMBA Resto                        3732
Name: count, dtype: int64

In [144]:
# Preguntar, porque no se hace nada con region?
# Es categorica, deberiamos llenarlo con la mas popular pero, en este caso son todas null

In [145]:
print(training_window['CreditCard_Product'])

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
238597    NaN
238603    NaN
238604    NaN
238608    NaN
238612    NaN
Name: CreditCard_Product, Length: 139146, dtype: object

In [146]:
# 3) CreditCard_Product: Es la terecer columna con nulos
training_window['CreditCard_Product'].value_counts()

Series([], Name: count, dtype: int64)

In [147]:
data['CreditCard_Product'].value_counts()

CreditCard_Product
J55660104XX012    17298
J55660202XX012    12047
J55660124XX012     4978
J55660102XX012      834
J55660123XX012      774
J55660702XX012      567
J55661002XX012      138
Name: count, dtype: int64

In [148]:
data['CreditCard_Product'].shape

(238616,)

In [149]:
# Preguntar, porque no se hace nada con CreditCard_Product?
# Es categorica, deberiamos llenarlo con la mas popular pero, en este caso son todas null

In [150]:
# Eso fue el tratamiento de valores nulos
# Paso a tratar los Outliers
# con cuartiles o beans

In [151]:
# Luego deberia reemplazar todas las queson identity feature por true o false 0 o 1
# OJO, segun el profe aca se toman solo las del ultimo mes
training_window

,client_id,Target,Month,First_product_dt,Last_product_dt,CreditCard_Premium,CreditCard_Active,CreditCard_CoBranding,Loan_Active,Mortgage_Active,...,CreditCard_Payment_External,CreditCard_Payment_Cash,CreditCard_Payment_Web,CreditCard_Payment_ATM,CreditCard_Payment_TAS,Investment_Numbers,Mobile,Email,Region,CreditCard_Product
0,5856970,1.0,2018-10-01,2013-10-23,2019-01-10,No,Yes,No,No,No,...,0.0,0.0,0.0,0.0,0.0,1.0,Yes,Yes,NaN,NaN
1,6371753,0.0,2018-09-01,2015-07-29,2018-06-02,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,NaN,NaN
2,5928737,0.0,2019-01-01,2016-08-31,2018-12-27,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,NaN,NaN
3,475064,0.0,2018-12-01,2014-07-13,2017-11-30,No,Yes,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,NaN,NaN
4,3615172,0.0,2018-09-01,2017-12-27,2017-12-28,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238597,1673642,0.0,2018-11-01,2017-08-18,2017-09-26,No,Yes,No,No,No,...,0.0,0.0,1.0,0.0,0.0,0.0,No,Yes,NaN,NaN
238603,6145735,1.0,2018-11-01,2014-10-26,2014-10-26,No,Yes,No,No,No,...,0.0,0.0,1.0,0.0,0.0,0.0,Yes,Yes,NaN,NaN
238604,5638786,1.0,2018-11-01,2012-12-26,2017-03-08,No,Yes,No,No,No,...,0.0,0.0,0.0,0.0,1.0,0.0,Yes,No,NaN,NaN
238608,3824781,0.0,2018-08-01,2014-11-27,2019-01-04,No,No,No,No,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,Yes,NaN,NaN
238612,6412619,0.0,2019-01-01,2015-07-08,2018-06-02,No,No,No,Yes,No,...,0.0,0.0,0.0,0.0,0.0,0.0,Yes,No,NaN,NaN

In [152]:
data_if = training_window[training_window['Month'] == '2019-01-01'][['client_id', 'Mobile', 'Email', 'CreditCard_Premium', 'CreditCard_Active', 'CreditCard_CoBranding', 'Loan_Active', 
    'Mortgage_Active', 'SavingAccount_Active_ARG_Salary', 'SavingAccount_Active_ARG', 'SavingAccount_Active_DOLLAR', 'DebitCard_Active', 
    'Investment_Active', 'Package_Active', 'Insurance_Life', 'Insurance_Home', 'Insurance_Accidents', 'Insurance_Mobile', 'Insurance_ATM', 
    'Insurance_Unemployment', 'Sex']]
data_if

,client_id,Mobile,Email,CreditCard_Premium,CreditCard_Active,CreditCard_CoBranding,Loan_Active,Mortgage_Active,SavingAccount_Active_ARG_Salary,SavingAccount_Active_ARG,...,DebitCard_Active,Investment_Active,Package_Active,Insurance_Life,Insurance_Home,Insurance_Accidents,Insurance_Mobile,Insurance_ATM,Insurance_Unemployment,Sex
2,5928737,Yes,Yes,No,No,No,No,No,No,Yes,...,Yes,No,No,No,No,No,No,No,No,M
10,6018047,Yes,Yes,Yes,Yes,No,No,No,No,Yes,...,Yes,No,No,No,No,No,No,No,No,M
11,5359038,Yes,Yes,Yes,Yes,No,Yes,No,Yes,Yes,...,Yes,No,No,No,No,No,No,No,No,M
16,6890812,Yes,Yes,No,No,No,Yes,No,No,Yes,...,Yes,No,No,No,No,No,No,No,No,M
20,115383,No,No,No,No,No,No,No,No,Yes,...,No,No,No,No,No,No,No,No,No,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238573,6570413,Yes,Yes,No,Yes,No,No,No,No,Yes,...,Yes,No,No,No,No,No,No,No,No,F
238574,6258895,Yes,Yes,No,No,No,No,No,No,Yes,...,Yes,No,No,No,No,No,No,No,No,F
238585,6397274,No,Yes,No,Yes,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,M
238586,6007291,No,No,Yes,Yes,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,F
238612,6412619,Yes,No,No,No,No,Yes,No,No,Yes,...,Yes,No,No,No,No,No,No,No,No,F

In [153]:
pd.set_option('future.no_silent_downcasting', True)
data_if = data_if.replace({'Yes': 1, 'No': 0})
# esta funcion hay que aplicarla con cuidado, reemplaza y castea todos los yes | no que encuentre
pd.set_option('future.no_silent_downcasting', True)
data_if = data_if.replace({'M': 1, 'F': 0})
# esta funcion hay que aplicarla con cuidado, reemplaza y castea todos los M | F que encuentre

In [154]:
data_if

,client_id,Mobile,Email,CreditCard_Premium,CreditCard_Active,CreditCard_CoBranding,Loan_Active,Mortgage_Active,SavingAccount_Active_ARG_Salary,SavingAccount_Active_ARG,...,DebitCard_Active,Investment_Active,Package_Active,Insurance_Life,Insurance_Home,Insurance_Accidents,Insurance_Mobile,Insurance_ATM,Insurance_Unemployment,Sex
2,5928737,1,1,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1
10,6018047,1,1,1,1,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1
11,5359038,1,1,1,1,0,1,0,1,1,...,1,0,0,0,0,0,0,0,0,1
16,6890812,1,1,0,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
20,115383,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238573,6570413,1,1,0,1,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
238574,6258895,1,1,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
238585,6397274,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
238586,6007291,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
238612,6412619,1,0,0,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,0

In [155]:
# Ya tengo listas las identity features, ahora arranco a crear las agregadas
# Aca es donde hay que meter cabeza para crear variables piolas

In [156]:
# Ahora sigo con las categoricas

In [157]:
data['Target'].value_counts()

Target
0.0    176359
1.0     62256
Name: count, dtype: int64